.grid {
	width: 150px;
	height: 150px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 10px;
	height: 10px;
    
}

.invader {
	background-color: rgb(19, 75, 230);
	border-radius: 10px;
}

.shooter {
	background-color: rgb(31, 226, 5);
     border-radius:5px;
	 
}

.laser {
	background-color: rgb(230, 112, 16);
     border-radius:4px;
}

.boom {
	background-color: rgb(250, 6, 6);

}
